body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/*--heading section start*/
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 98px;
    width: 100%;
    
    /* background:linear-gradient(to top ,rgba(82, 196, 17, 0.979),rgba(203, 238, 108, 0.959)) ; */
    /* background:linear-gradient(to top ,rgba(20, 197, 209, 0.979),rgba(148, 240, 232, 0.726)) ; */
    background-color: black;
    color: white;
    z-index: 10;
}

/*logo-section starts*/
.blog-logo{
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    
}

.blog-logo img{
    width: 72px;
    height: 70px;
    cursor: pointer; 
}
.blog-logo-texts{
    padding-bottom: 24px;
    height: 76px; 
    cursor: pointer; 
} 

.blog-logo-texts h3{ 
    font-size: 28px;

    font-weight: bolder;
    margin-bottom: 4px;  
}
.blog-logo-texts p{
    margin-top:0 ;
    font-size: 14px; 
    
} 
/*logo-section ends*/


.heading-btns {
    /* border: 1px solid purple; */
    display: flex;
    margin-right: 100px;
    gap: 20px;
    cursor: pointer;
    font-size: 18px;

}

.heading-btns .texts {
    display: flex;
    gap: 4px;
    color: white;
}
.heading-btns a{
    text-decoration: none;
}


.texts:hover {
    color: rgb(248, 84, 73);
    font-weight: bolder;
    transition: all 0.5s ease;
    transform: scale(1.1, 1.1);
}

.started {
    display: flex;
    justify-content: center;
    align-items: center;
}

.started button {
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    border: none;
    transform: scale(1,1);
    transition: transform 0.5s ease;
    
}
.started button:hover{
    transform: scale(1.1,1.1);
    transition: transform 0.5s ease;
}


/*heading section end*/


.nav-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid blue;
    padding-top: 95px;
}

.popular {
    padding-top: 110px;
    padding-left: 40px;
}

.popular h3 {
    font-size: 30px;
}

/*2nd section of popular*/
.trending-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    padding-bottom: 30px;
}

.trending-photos .details {
    width: 300px;
    cursor: pointer;
}
.trending-photos a{
    text-decoration:none;
}

.trending-photos .details:hover {
    /* box-sizing: border-box;
    /* box-shadow:  10px 5px 5px rgba(112, 94, 94, 0.247) , -10px 5px 5px rgba(112, 94, 94, 0.247); */
    /* box-shadow: 10px 5px 5px rgba(39, 35, 35, 0.247) , -10px 5px 5px rgba(112, 94, 94, 0.247);*/
    /* box-shadow: 8px 10px 10px rgb(0, 0, 0,0.2) , -6px 2px 10px rgb(0, 0, 0,0.2); 
    transition: all 0.3s ease;  */

}

.details .trending-img {
    filter: saturate(100%);
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
    transition: all ease 0.4s;
}

.details .trending-img:hover {
    
    filter: saturate(100%);
    width: 390px; 

}

.trending-photos .details .main-texts {
    padding-left: 6px;
}
.details .main-texts h2{
    color: black;
}

.trending-photos .details .profile-details {
    padding-bottom: 6px;
}

/*-----*/


/*mmain section starts*/
.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px 0 100px;
    /* border: 1px solid blue; */
}

.main-details-section {
    display: flex;
    flex-direction: column;


}

.main-details {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px -60px;
    gap: 30px;

}

.main-details .thumbnail {
    /* filter: saturate(100%); */
    transform: scale(1,1);
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.main-details .thumbnail:hover {
    transform: scale(1.3,1.3);
    /* filter: saturate(100%);
    width: 250px;
    height: 180px; */
}

.main-texts {
    display: flex;
    flex-direction: column;


}

.main-texts h2 {
    max-width: 509px;
    width: 100%;
    margin: 0 0 10px 0;
    cursor: pointer;
    display: inline-block;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.main-texts p {
    margin: 4px 0 0 0;
    display: inline-block;
    max-width: 509px;
    color: gray;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    width: 460px; 
}

.profile-details {
    display: flex;

}

.profile-img {
    width: 28px;
    border-radius: 14px;
    margin-right: 8px;
    cursor: pointer;
}

.profile-details button {
    padding: 6px 14px;
    border: none;
    border-radius: 12px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
}
.save-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.save-icon .tooltip{
    position: absolute;
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -25px;
    transform: scale(0,0);
    transition: all 0.3s ease;
    /* opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap; */
} 
.save-icon:hover .tooltip{
    transform: scale(1,1);
    transition: all 0.3s ease;
    /* opacity: 1;
    transition: opacity 0.3s ease; */
}

/*main section ends */


/*side bar buttons section*/
.interests {

    display: flex;
    flex-direction: column;
    /* position: fixed;
    bottom: 0;
    right: 0;
    top: 150px;
    height: 400px; */


}

.discover {
    /* border: 1px solid red; */
    height: fit-content;
    padding: 0 30px 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.discover .started button {
    background-color: black;
    color: white;
}

.see-more {
    /*for anchor tag*/
    color: red;
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* .see-more .see-more-tool{
    position: absolute;
    background-color: rgb(124, 124, 124);
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 2px;
    font-size: 12px;
    bottom: -120px;
    transform: scale(0,0);
    transition: all 0.3s ease;
}
.see-more:hover .see-more-tool{
    transform: scale(1,1);
    transition: all 0.3s ease;
} */

footer {}

.tips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    width: 80vw;
    padding-left: 60px; */
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid rgb(187, 185, 185);


}

.tips h4 {

    cursor: pointer;

}

.tips h4:hover {
    /* background: rgba(104, 103, 103, 0.555); */
    color: rgb(241, 9, 9);
    transform: scale(1.2, 1.2);
    transition: all 0.3s ease;
}


@media (max-width:714px) {
    .box {
        flex-wrap: wrap;
        height: 120px;
        
    }
    .blog-logo{
        padding-top: 0;
        border: 1px solid blue;
    
    }
    .blog-logo img{
        width: 50px;
        height: 48px;
    }
    .blog-logo-texts{
        height: 60px;
    }
    .blog-logo-texts h3{
        font-size: 16px;
    }
    .blog-logo p{
        font-size: 8px;
    }
    .heading-btns {
        margin-top: 0;
        font-size: 12px;
    
    }
    
    .box .heading-btns .started button {
        font-size: 12px;
        padding: 4px 10px;
        
    }

}

@media screen and (max-width:850px) {
    .trending-photos {
        flex-wrap: wrap;
    }

    .main-section {
        flex-wrap: wrap-reverse;
    }

    .main-details-section {
        flex-wrap: wrap;
        padding-right: 30px;
    }

    .main-details-section .main-details .thumbnail {
        width: 100px;
        height: 80px;
        
    }

    .main-details-section .main-details .main-texts h2 {
        margin-bottom: 2px;
        font-size: 18px;
    }

    .main-details-section .main-details .main-texts p {
        margin-top: 2px;
        font-size: 10px;
    }
    .profile-section{
        justify-content: space-between;
        width:250px;
    }

    .main-details-section .main-details .main-texts .profile-details .profile-img {
        width: 12px;
        height: 14px;
        border-radius: 6px;
    }

    .main-details-section .main-details .main-texts .profile-details button {
        font-size: 8px;
        padding: 3px 6px;
        border-radius: 6px;
    }

    .main-details-section .main-details .main-texts .save-icon img {
        width: 14px;
    }

    .tips {
        flex-wrap: wrap;

    }

    .interests {
        padding-bottom: 20px;
    }

    .interests .discover .started button {
        height: 20px;
        font-size: 8px;
    }
}