body {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/*--heading section start*/
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 98px;
    width: 100%;
    /* background:linear-gradient(to top ,rgba(82, 196, 17, 0.979),rgba(203, 238, 108, 0.959)) ; */
    /* background:linear-gradient(to top ,rgba(20, 197, 209, 0.979),rgba(148, 240, 232, 0.726)) ; */
    background-color: black;
    color: white;
}

/*logo-section starts*/
.blog-logo{
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    
}

.blog-logo img{
    width: 72px;
    height: 70px;
    cursor: pointer; 
}
.blog-logo-texts{
    padding-bottom: 24px;
    height: 76px; 
    cursor: pointer; 
} 

.blog-logo-texts h3{ 
    font-size: 28px;

    font-weight: bolder;
    margin-bottom: 4px;  
}
.blog-logo-texts p{
    margin-top:0 ;
    font-size: 14px; 
    
} 
/*logo-section ends*/

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    outline: none;
    border: none;
    margin: 0 4px 0 6px;
    padding: 6px 0 8px 0;
    font-size: 14px;
    border-radius: 16px;
    width: 210px;
    text-indent: 10px;
}
#search-icon{
    font-size:20px;
    color: rgb(112, 110, 110); 
    cursor: pointer;
    
}


.heading-btns {
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    gap: 20px;
    cursor: pointer;
    font-size: 18px;

}

.heading-btns .texts {
    display: flex;
    gap: 4px;
    transform: scale(1,1);
}

.heading-btns .profileImage{
   border-radius: 15px;
    margin-left: 10px;
   border: 1px solid white;
   transform: scale(1,1);
}

.heading-btns .profileImage:hover{
    transform: scale(1.4,1.4);
    transition: all 0.3s ease;
}

#bell:hover, .texts:hover {
    color: rgb(241, 136, 75);
    font-weight: bolder;
    transform: scale(1.1,1.1);
    transition: all 0.5s ease;
}


.nav-btns {
    display: flex;
    align-items: center;
    width: 820px;
    gap: 25px;
    padding: 10px 0 0 20px;
    
    /* border: 1px solid black; */
    
}
.nav-btns button{
    font-size: 14px;
    height: 30px;
    width: auto;
    border: none;
    border-radius: 15px;
    background-color: rgb(243, 243, 243);
}

.main-section{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 30px 40px 0 100px;
    /* border: 1px solid blue; */
}

.main-section .main-details a{
    text-decoration: none;
    color: black;
}
.main-details{
    display:flex;
    flex-direction: row;
    margin:0 0 20px -60px;
    gap: 30px;

}
.main-details .thumbnail{
    filter: saturate(100%);
    width: 200px; 
    object-fit:cover;
    border-radius: 4px;
    transition: all ease 0.4s;
    margin-bottom: 20px;
    cursor: pointer;

}

.main-details .thumbnail:hover{
   filter: saturate(100%);
   width: 250px;
   height: 180px;
}
.main-texts{
    display: flex;
    flex-direction: column;


}
.main-texts h2{
    max-width: 509px;
    width: 100%;
    margin:0 0 10px 0;
    cursor: pointer;
    display: inline-block;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-texts p{
    margin: 4px 0 0 0;
    display: inline-block;
    max-width: 509px;
    color: gray;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
 
 }
 .profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 505px;
 }
 .profile-details {
    display: flex;

}
.profile-img {
    width: 28px;
    border-radius: 14px;
    margin-right: 8px;
    cursor: pointer;
}
.profile-details button {
    padding: 6px 14px;
    border: none;
    border-radius: 12px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
}
.save-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.save-icon .tooltip{

    position: absolute;
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -25px;
    transform: scale(0,0);
    transition: all 0.3s ease;
    
} 
.save-icon:hover .tooltip{
    transform: scale(1,1);
    transition: all 0.3s ease;
    
}

.heading-btns img{
    
}