body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 98px;
    width: 100%;
    /* background:linear-gradient(to top ,rgba(82, 196, 17, 0.979),rgba(203, 238, 108, 0.959)) ; */
    /* background:linear-gradient(to top ,rgba(20, 197, 209, 0.979),rgba(148, 240, 232, 0.726)) ; */
    background-color: black;
    color: white;
}

/*logo-section starts*/
a{
    text-decoration: none;
    color: white;
}
.blog-logo{
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    
}

.blog-logo img{
    width: 72px;
    height: 70px;
    cursor: pointer; 
}
.blog-logo-texts{
    padding-bottom: 24px;
    height: 76px; 
    cursor: pointer; 
} 

.blog-logo-texts h3{ 
    font-size: 28px;

    font-weight: bolder;
    margin-bottom: 4px;  
}
.blog-logo-texts p{
    margin-top:0 ;
    font-size: 14px; 
    
} 
/*logo-section ends*/

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 400px;
}

#search {
    flex: 1;
    outline: none;
    border: none;
    margin: 0 4px 0 6px;
    padding: 8px 0;
    font-size: 18px;
    border-radius: 10px;
    width: 0;
    text-indent: 10px;
    
}
#search::placeholder{
    color: black;
}
input[type="search"]::-webkit-search-cancel-button{
    padding-right: 10px;
    font-size: 20px;
    
}

#search-icon{
    font-size:20px;
    color: rgb(112, 110, 110); 
    cursor: pointer;
    
    
}


.heading-btns {
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    gap: 20px;
    cursor: pointer;
    font-size: 18px;

}

.heading-btns .texts {
    display: flex;
    gap: 4px;
    /* transform: scale(1,1); */
}
/* #bell:hover, .texts:hover {
    color: rgb(241, 136, 75);
    font-weight: bolder;
    transition: all 0.5s ease;
    transform: scale(1.2,1.2);
} */
main{
    display: flex;
    flex-direction: column;
    margin: 100px auto 200px auto;
    align-items: center;
}
.main-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    
}
.main-details h1{
    font-size: 40px;
}
.main-details .main-texts p{
    font-size: 24px;
}
.profile-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-section img{
    border-radius: 20px;
}
.profile-section .profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-right: 400px;
}
.profile-details p{
    margin: 0;
}
.profile-details p span{
    color: gray;
}
.full-story{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 30px;
    
}

.full-story .story{
    width: 58%;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid red;
    padding-bottom:60px ;
    
}
.thumbnail-texts{
font-size: 24px;
}
.full-story .story .title-texts h3{
    margin-bottom: 0;   
}
.story p{
   word-spacing: 5px;
   line-height: 40px;
}

.icons{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgba(235, 234, 234, 0.404);
    border-bottom: 1px solid rgba(235, 234, 234, 0.404);
    padding: 10px 0;
}

.more-from{
    margin: 10px 400px 0 0;
    display: flex;
    align-items: center;
    gap: 20px;
    
   
}
.more-from img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.more-from h4{
    display: inline;
}
.last-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 54%;
    padding:20px 0 0 50px;

    /* border: 1px solid black; */

}

.more-stories h2{
    width: 300px;
    margin-bottom: 4px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.more-stories p{
    color: gray;
    display: inline-block;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}
.bottom-profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    

}
.save-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}
.save-icon .tooltip{
    position: absolute;
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -25px;
    transform: scale(0,0);
    transition: all 0.5s ease;
   
} 
.save-icon:hover .tooltip{
    transform: scale(1,1);
    transition: all 0.5s ease;
   
}

footer{
   
}
.tips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    width: 80vw;
    padding-left: 60px; */
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid rgb(187, 185, 185);


}

.tips h4 {

    cursor: pointer;

}