.scrollable-container {
    background-color: black;
    max-width: 750px;
    margin: 0 0 0 30px;
    border-radius: 10px;
    overflow: hidden;
    position:sticky;
    top: 0;
    z-index: 100;
}

.scrollable-container svg {
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
    color: white;
    border-radius: 50%;


}

.scrollable-container ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 12px 24px;
    overflow-x: scroll;
    scrollbar-width: 0;
    scroll-behavior: smooth;

}

.scrollable-container ul::-webkit-scrollbar {
    display: none;
}

.scrollable-container ul.dragging {
    scroll-behavior: auto;
}

.scrollable-container ul.dragging a {
    pointer-events: none;
}



.scrollable-container a {
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 10px;
    padding: 4px 24px;
    user-select: none;
    white-space: nowrap;
}

.scrollable-container a.active {
    background: white;
    color: black;
}

.scrollable-container .rightArrow,
.scrollable-container .leftArrow {
    position: absolute;
    height: 100%;
    width: 100;
    top: 0;
    display: none;
}

.scrollable-container .rightArrow.active,
.scrollable-container .leftArrow.active {
    display: flex;
}

.scrollable-container .rightArrow {
    right: 0;
    background: linear-gradient(to left, black 50%, transparent);
    justify-content: flex-end;
}

.scrollable-container .leftArrow {
    background: linear-gradient(to right, black 50%, transparent);
}

.scrollable-container svg:hover {
    background: #333;

}